.editButton:hover *,
.editButton:hover{
    background-color: rgb(59, 59, 248) !important;
    color:white !important;
}

.deleteButton:hover *,
.deleteButton:hover{
    background-color: rgb(255, 52, 52) !important;
    color:white !important;
}